// revWeek - 单双周反转
// 如果课表或值日生表涉及单双周轮换，且显示内容与实际相反，将此变量值改为 true 即可
var revWeek = false;

// dutyList - 值日生表
// 不需要的话把引号里面内容全部删掉就好了
// 换行用 <br /> 即可
// 单双周一样的话复制粘贴一下就好
var dutyList = [
    /* 单周 */ [
        /* 周日 */ "今日无值日生",
        /* 周一 */ "扫地: 张三<br />拖地: 李四<br />擦黑板: 王五",
        /* 周二 */ "扫地: 张三<br />拖地: 李四<br />擦黑板: 王五",
        /* 周三 */ "扫地: 张三<br />拖地: 李四<br />擦黑板: 王五",
        /* 周四 */ "扫地: 张三<br />拖地: 李四<br />擦黑板: 王五",
        /* 周五 */ "扫地: 张三<br />拖地: 李四<br />擦黑板: 王五",
        /* 周六 */ "今日无值日生"
    ], 
    /* 双周 */ [
        /* 周日 */ "今日无值日生",
        /* 周一 */ "扫地: 张三<br />拖地: 李四<br />擦黑板: 王五",
        /* 周二 */ "扫地: 张三<br />拖地: 李四<br />擦黑板: 王五",
        /* 周三 */ "扫地: 张三<br />拖地: 李四<br />擦黑板: 王五",
        /* 周四 */ "扫地: 张三<br />拖地: 李四<br />擦黑板: 王五",
        /* 周五 */ "扫地: 张三<br />拖地: 李四<br />擦黑板: 王五",
        /* 周六 */ "今日无值日生"
    ]
];

// subjectList - 课程表
// 照着格式改一下就行
// 单双周一样的话复制粘贴一下就好
var subjectList = [
    /* 单周 */ [
        /* 周日 */ [],
        /* 周一 */ [[0800, "自修"], [0850, "自修"], [1000, "自修"], [1100, "自修"], [1245, "自修"], [1335, "自修"], [1425, "自修"], [1515, "自修"], [1605, "自修"]],
        /* 周二 */ [[0800, "自修"], [0850, "自修"], [1000, "自修"], [1100, "自修"], [1245, "自修"], [1335, "自修"], [1425, "自修"], [1515, "自修"], [1605, "自修"]],
        /* 周三 */ [[0800, "自修"], [0850, "自修"], [1000, "自修"], [1100, "自修"], [1245, "自修"], [1335, "自修"], [1425, "自修"], [1515, "自修"], [1605, "自修"]],
        /* 周四 */ [[0800, "自修"], [0850, "自修"], [1000, "自修"], [1100, "自修"], [1245, "自修"], [1335, "自修"], [1425, "自修"], [1515, "自修"], [1605, "自修"]],
        /* 周五 */ [[0800, "自修"], [0850, "自修"], [1000, "自修"], [1100, "自修"], [1245, "自修"], [1335, "自修"], [1425, "自修"], [1515, "班会"]],
        /* 周六 */ []
    ],
    /* 双周 */ [
        /* 周日 */ [],
        /* 周一 */ [[0800, "自修"], [0850, "自修"], [1000, "自修"], [1100, "自修"], [1245, "自修"], [1335, "自修"], [1425, "自修"], [1515, "自修"], [1605, "自修"]],
        /* 周二 */ [[0800, "自修"], [0850, "自修"], [1000, "自修"], [1100, "自修"], [1245, "自修"], [1335, "自修"], [1425, "自修"], [1515, "自修"], [1605, "自修"]],
        /* 周三 */ [[0800, "自修"], [0850, "自修"], [1000, "自修"], [1100, "自修"], [1245, "自修"], [1335, "自修"], [1425, "自修"], [1515, "自修"], [1605, "自修"]],
        /* 周四 */ [[0800, "自修"], [0850, "自修"], [1000, "自修"], [1100, "自修"], [1245, "自修"], [1335, "自修"], [1425, "自修"], [1515, "自修"], [1605, "自修"]],
        /* 周五 */ [[0800, "自修"], [0850, "自修"], [1000, "自修"], [1100, "自修"], [1245, "自修"], [1335, "自修"], [1425, "自修"], [1515, "班会"]],
        /* 周六 */ []
    ]
];